.vimeography-player .box {
    position: absolute;
    right:1em;
    bottom: 2.5em;
}
.vimeography-player .box button {
    padding: .5em;
    font-size: .7em;
}
.eey-vimeo-player {
	width:100%;
	height:auto;
}